/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-white: #ffffff;
  --color-primary-black: #000000;
  --color-secondary-black: #1a1a1a;
  --color-steel: #1a1a1a;
  --color-onyx: #242424;
  --color-anthracite: #2d2d2d;
  --color-gray: #767676;
  --color-red: #de4129;
}
